<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ProductCategoryMapper">

  <cache />
  
  <select id="getCategory" resultType="ProductCategory">
    SELECT
      PRODUCTCATEGORYID AS productCategoryId,
      NAME,
      DESCN AS description
    FROM CATEGORY
    WHERE PRODUCTCATEGORYID = #{productCategoryId}
  </select>

  <select id="getCategoryList" resultType="ProductCategory">
    SELECT
      PRODUCTCATEGORYID AS productCategoryId,
      NAME,
      DESCN AS description
    FROM CATEGORY
  </select>

</mapper>