<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongogong.dao.mybatis.mapper.TransactionsMapper">

	<cache />
  
	<select id="transactionSize" resultType="Transactions">
     SELECT MAX(TRANSACTIONS_IDX) AS transactionsIdx
     FROM TRANSACTIONS
  	</select> 
	
    <insert id="insertCartTransactions" parameterType="Transactions">
       INSERT INTO TRANSACTIONS(transactions_Idx, post_Idx, seller_Id, buyer_Id, status)
       VALUES(#{transactionsIdx}, #{postIdx}, #{sellerId}, #{buyerId}, 'WAIT')
    </insert> 
</mapper>